body{
    font-family: Arial, sans-serif;
    vertical-align: middle;
    text-align: center;
}

h1{
    font-family: Merienda;
}
p{
    border: 1px solid black;
    padding: 10px;
    font-family:
    font-weight:bold;
    vertical-align: middle;
}